__pycache__/
*.py[cod]
*.pyo

.env
venv/
torchat/
*.tmp
*.log

*.AppImage
appimagetool-*

TorChat.AppDir/usr/
TorChat.AppDir/usr/lib/
TorChat.AppDir/usr/bin/


/tmp/tor_*
hidden_service/
addr.txt


.vscode/
.DS_Store

bump.py

